body{
    font-family: 'Times New Roman', Times, serif;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    margin: 20px;
}
.title {
    size: 36px;
}

.buttoncollection{
    display: flex;
}